<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JSPBook</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ch10 기본 인증 처리 방법으로 보안 처리하기 -->
<!--   <security-role> -->
<!--   	<role-name>role1</role-name> -->
<!--   </security-role> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch10/security01.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>시큐리티1</description> -->
<!--   		<role-name>role1</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--   	<auth-method>BASIC</auth-method> -->
<!--   </login-config> -->
  <!-- ch10 기본 인증 처리 방법으로 보안 처리하기 끝 -->
  
  
  <!-- ch10 폼 기반 인증 처리방법으로 보안 처리하기 -->
<!--   <security-role> -->
<!--   	<role-name>role1</role-name> -->
<!--   </security-role> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch10/security01.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>시큐리티2</description> -->
<!--   		<role-name>role1</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--      <auth-method>FORM</auth-method> -->
<!--      <form-login-config> -->
<!--         <form-login-page>/ch10/login.jsp</form-login-page> -->
<!--         <form-error-page>/ch10/login_failed.jsp</form-error-page> -->
<!--      </form-login-config> -->
<!--   </login-config> -->
  <!-- ch10 폼 기반 인증 처리방법으로 보안 처리하기 끝 -->
  
  <!-- 프로그래밍적 시큐리티 처리 -->
<!--   <security-role> -->
<!--   	<role-name>role1</role-name> -->
<!--   </security-role> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch10/security02.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>시큐리티3</description> -->
<!--   		<role-name>role1</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--      <auth-method>FORM</auth-method> -->
<!--      <form-login-config> -->
<!--         <form-login-page>/ch10/login.jsp</form-login-page> -->
<!--         <form-error-page>/ch10/login_failed.jsp</form-error-page> -->
<!--      </form-login-config> -->
<!--   </login-config> -->
  <!-- 프로그래밍적 시큐리티 처리 끝 -->
  
  <!-- ch11 예외처리 -->
<!--   <error-page> -->
<!--   	<error-code>500</error-code> -->
<!--   	<location>/ch11/errorCode_error.jsp</location> -->
<!--   </error-page> -->
  
<!--   <error-page> -->
<!--   	<exception-type>java.lang.exception</exception-type> -->
<!--   	<location>/ch11/exceptionType_error.jsp</location> -->
<!--   </error-page> -->
  
  <!-- ch11 test 시큐리티 처리 -->
<!--   <security-role> -->
<!--   	<role-name>admin</role-name> -->
<!--   </security-role> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch11/test/boardForm.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>ch11_test</description> -->
<!--   		<role-name>admin</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch11/test/boardUpdateForm.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>ch11_test</description> -->
<!--   		<role-name>admin</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--      <auth-method>FORM</auth-method> -->
<!--      <form-login-config> -->
<!--         <form-login-page>/ch11/test/loginSecurity.jsp</form-login-page> -->
<!--         <form-error-page>/ch11/test/loginFailed.jsp</form-error-page> -->
<!--      </form-login-config> -->
<!--   </login-config> -->
  <!-- ch11 test 시큐리티 처리 끝 -->
  
  <!-- 12장 필터예제 1 -->
<!--   <filter> -->
<!--   	<filter-name>Filter01</filter-name> -->
<!--   	<filter-class>kr.or.ddit.ch12.AuthenFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>Filter01</filter-name> -->
<!--   	<url-pattern>/ch12/filter01_process.jsp</url-pattern> -->
<!--   </filter-mapping> -->
  <!-- 12장 필터예제 1 끝 -->
  
  <!-- 12장 필터예제 2 -->
<!--   <filter> -->
<!--   	<filter-name>Filter02</filter-name> -->
<!--   	<filter-class>kr.or.ddit.ch12.initParamFilter</filter-class> -->
<!--   	<init-param> -->
<!--   		<param-name>param1</param-name> -->
<!--   		<param-value>admin</param-value> -->
<!--   	</init-param> -->
<!--   	<init-param> -->
<!--   		<param-name>param2</param-name> -->
<!--   		<param-value>1234</param-value> -->
<!--   	</init-param> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>Filter02</filter-name> -->
<!--   	<url-pattern>/ch12/filter02_process.jsp</url-pattern> -->
<!--   </filter-mapping> -->
  <!-- 12장 필터예제 2 끝 -->
  
  <!-- 12장 필터예제 2_1 -->
<!--   <filter> -->
<!--   	<filter-name>Filter02_1</filter-name> -->
<!--   	<filter-class>kr.or.ddit.ch12.LogFileFilter</filter-class> -->
<!--   	<init-param> -->
<!--   		<param-name>filename</param-name> -->
<!--   		<param-value>C:\\logs\\moniter.log</param-value> -->
<!--   	</init-param> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>Filter02_1</filter-name> -->
<!--   	<url-pattern>/ch12/filter02_process.jsp</url-pattern> -->
<!--   </filter-mapping> -->
  <!-- 12장 필터예제 2_1 끝 -->
  
  
  <!-- ch12_test 시큐리티 처리 -->
<!--   <security-role> -->
<!--   	<role-name>admin</role-name> -->
<!--   </security-role> -->
<!--   <security-constraint> -->
<!--   	<web-resource-collection> -->
<!--   		<web-resource-name>JSPBook</web-resource-name> -->
<!--   		<url-pattern>/ch12/ch12_test.jsp</url-pattern> -->
<!--   		<http-method>GET</http-method> -->
<!--   	</web-resource-collection> -->
<!--   	<auth-constraint> -->
<!--   		<description>ch12_test</description> -->
<!--   		<role-name>admin</role-name> -->
<!--   	</auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--      <auth-method>FORM</auth-method> -->
<!--      <form-login-config> -->
<!--         <form-login-page>/ch12/login.jsp</form-login-page> -->
<!--         <form-error-page>/ch12/ch12_test_error.jsp</form-error-page> -->
<!--      </form-login-config> -->
<!--   </login-config> -->
  <!-- ch12_test 시큐리티 처리 끝 -->
  
  
  <!-- 12장 필터test -->
<!--   <filter> -->
<!--   	<filter-name>TestCH12Filter</filter-name> -->
<!--   	<filter-class>kr.or.ddit.ch12.TestCH12Filter</filter-class> -->
<!--   	<init-param> -->
<!--   		<param-name>param</param-name> -->
<!--   		<param-value>admin</param-value> -->
<!--   	</init-param> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>TestCH12Filter</filter-name> -->
<!--   	<url-pattern>/ch12/ch12_test.jsp</url-pattern> -->
<!--   </filter-mapping> -->
  <!-- 12장 필터test 끝 -->
  
  
<!--   <error-page> -->
<!--   	<error-code>403</error-code> -->
<!--   	<location>/ch12/ch12_test_error.jsp</location> -->
<!--   </error-page> -->
</web-app>